html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  color: #fff;
  text-decoration-line: none;
}

.btn {
  text-decoration: none;
  text-decoration-style: none;
  color: #fff;
  background-color: #333;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  text-decoration: none;
  text-decoration-style: none;
  color: #fff;
  background-color: #ccc;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  text-decoration: none;
  text-decoration-style: none;
  color: #000;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  border-width: 3px;
  border-color: #333;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning {
  text-decoration: none;
  text-decoration-style: none;
  color: #fff;
  background-color: #f33;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
}

.btn-warning:hover {
  background-color: #933;
}
.btn-small  {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}
